{:tasks {run {:doc "Download posts added after the previous run" 
              :override-builtin true
              :task (clojure "-M" "-m" "clj-tumblr-summarizer.main")}
         summarize {:doc "Create an HTML summary of (already downloaded) posts from the previous month" 
                    :task (clojure "-X:summarize")} ; also: clojure "-X:summarize" ":date" '"2022-12"'
         summarize-m {:doc "Create an HTML summary of (already downloaded) posts from AND month given as CLI arg like 2022-12"
                       :task (when-let [md (first *command-line-args*)]
                               (assert (re-matches (re-pattern "^\\d{4}-\\d{2}$") md) "The month arg must match yyyy-mm")
                               (clojure (format "-X:summarize :date '\"%s\"'" md)))}
         index {:doc "Build Pagefind.app index for static search of the records"
                :task (shell "npx squint run build-pagefind-index.cljs")}}}
